@page "/deletecustomer/{customerid}" 
@inject INorthwindService service 
@inject NavigationManager navigation

<h3>Delete Customer</h3>
<div class="alert alert-danger">
  Warning! This action cannot be undone!
</div>
<CustomerDetail ButtonText="Delete Customer"
                ButtonStyle="danger" 
                Customer="@customer" 
                OnValidSubmit="@Delete" />

@code {
  [Parameter]
  public string? CustomerId { get; set; } 

  private Customer? customer = new();

  protected async override Task OnParametersSetAsync()
  {
    customer = await service.GetCustomerAsync(CustomerId ?? "bad");
  }

  private async Task Delete()
  {
      //My current Db shows Entity error because of the foriegn key violation. Model should be checked for the keys matching Db structur
    if (customer is not null)
    {
      await service.DeleteCustomerAsync(CustomerId ?? "bad");
    }
    navigation.NavigateTo("customers");
  }
}
